* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
  background-image:
    url(../public/images/blob_left.png),
    url(../public/images/blob_right.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  color: #293264;
}

main,
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.start--descrioption {
  margin-top: 7px;
}

.start--button {
  background-color: #4D5B9E;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  margin-top: 29px;
  transition: all 0.2s;
  cursor: pointer;
}

.start--button:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.start--button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.questions {
  margin: 37px 75px;
}

.question {
  margin-top: 15px;
}

.question--answers {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.answers--button {
  max-width: 150px;
  background-color: initial;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #4D5B9E;
  padding: 5px 15px;
  margin-right: 13px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
}

input[type="radio"]:checked+label {
  background-color: #D6DBF5;
  border: 1px solid #D6DBF5;
  color: #293264;
  padding: 5px 15px;
}

.question--line {
  margin-top: 15px;
  border: 1px solid #DBDEF0;
}

input[type="radio"] {
  left: -999em;
  position: absolute;
}

.submit {
  background: #4D5B9E;
  border-radius: 10px;
  color: #F5F7FB;
  padding: 10px 22px;
  border: 0;
  margin: 30px auto 0;
  display: block;
  line-height: 12px;
}

.submit:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.submit:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.correct {
  background-color: #94D7A2;
  opacity: 1;
  border: 1px solid #94D7A2;
}

.uncorrect {
  background-color: #F8BCBC;
  border: 1px solid #F8BCBC;
}

.bottom--results {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 20px 0 32px;
}

.bottom--results > .submit {
  margin: 0;
}

.scores {
  margin: 0 auto;
}